.center-content {
  display: flex;
  justify-content: center;
}

.links {
  color: orange;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.first-link {
  padding-right: 1rem;
}

.main-banner {
  padding: 0px 8px 0px 8px;
}